fastapi
uvicorn[standard]
httpx
jinja2
pydantic

langchain
langchain_classic
langchain-community
langchain-ollama
langchain-huggingface

faiss-cpu
sentence-transformers

langgraph
python-multipart
rank_bm25
langchain-google-genai
pdfplumber
python-dotenv